html {
    scroll-behavior: smooth;
}

div.field {
    font-family: 'Consolas';
    font-size: 20px;
    color: black;
    width: 1000px;
    height: 1000px;
    border: 3px solid #cccccc;
    background-color: white;
    padding: 10px;
    resize: none;
}

pre {
    background-color: rgb(240, 239, 239);
    width: 600px;
}

.code {
    padding: 20px;
    font-family: 'Consolas';
    font-size: 16px;
    background-color: #041d00;
    color: white;
}

textarea {
    resize: none;
    width: 100%;
    height: 400px;
    color: white;
    background-color: black;
    border: 3px solid rgb(160, 225, 255);
    font-family: consolas;
    font-size: 20px;
}

body {
    margin: 50px;
}

.column {
    float: left;
    width: 50%;
    contain: content;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-family: 'Consolas';
    text-decoration: none;
    border: none;
    font-size: 50px;
}

h2 {
    font-family: 'Consolas';
    text-decoration: none;
    border: none;
    font-size: 40px;
}

h3 {
    font-family: 'Consolas';
    text-decoration: none;
    border: none;
    font-size: 30px;
}

p {
    font-family: 'Helvetica Neue', 'Times New Roman', Times, serif;
    text-decoration: none;
    border: none;
    font-size: 22px;
}

challenge {
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #29f0f7;
}

.center-text {
    text-align: center;
}

.fade {
    opacity: 0.5;
}

.fade:hover {
    opacity: 1;
}

button {
    background-color: rgb(0, 3, 160);
    padding: .2em;
    margin-left: 1em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    font-family: 'Consolas';
    /*Oswald is a great font*/
    text-decoration: none;
    border: none;
    font-size: 20px;
}

button:hover {
    background-color: rgb(59, 62, 204);
}

.keyword {
    color:rgb(75, 228, 255);
    display: inline;
}

.class {
    color:rgb(75, 255, 99);
    display: inline;
}

.var {
    color:rgb(255, 246, 115);
    display: inline;
}
