div.field {
    font-family: 'Consolas';
    font-size: 20px;
    color: black;
    width: 1000px;
    height: 1000px;
    border: 3px solid #cccccc;
    background-color: white;
    padding: 10px;
    resize: none;
}

pre {
    background-color: rgb(240, 239, 239);
    width: 600px;
}

.code {
    font-family: 'Consolas';
    font-size: 16px;
    background-color: #c8fac1;
}

textarea {
    resize: none;
    width: 100%;
    height: 400px;
    color: black;
    background-color: white;
    border: 3px solid rgb(255, 179, 160);
}

::selection {
    background: rgb(255, 244, 96);;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: rgb(255, 244, 96);;
    /* Gecko Browsers */
}

body {
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
}

.column {
    float: left;
    width: 50%;
    contain: content;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-family: 'Consolas';
    text-decoration: none;
    border: none;
    font-size: 50px;
}

h2 {
    font-family: 'Consolas';
    text-decoration: none;
    border: none;
    font-size: 40px;
}

h3 {
    font-family: 'Consolas';
    text-decoration: none;
    border: none;
    font-size: 30px;
}

p {
    font-family: 'Helvetica Neue';
    text-decoration: none;
    border: none;
    font-size: 16px;
}

challenge {
    color: rgb(151, 144, 253);
}

.center-text {
    text-align: center;
}

.fade {
    opacity: 0.5;
}

.fade:hover {
    opacity: 1;
}

button {
    background-color: rgb(255, 219, 173);
    padding: .2em;
    margin-left: 1em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 0px;
    color: #fff;
    font-family: 'Consolas';
    /*Oswald is a great font*/
    text-decoration: none;
    border: none;
    font-size: 20px;
}

button:hover {
    background-color: rgb(255, 190, 51);
}